<div class = "panel panel-default">
	<div class = "panel panel-heading">
		<h1>Новая квартира</h1>
	</div>	
	<div class = "panel panel-body">
		<%= render 'form' %>
	</div>
	<div class = "panel panel-footer">
		<%= link_to 'Назад', pins_path %>
	</div>
</div>