<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 600px;'></div>
</div>
<script>
	handler = Gmaps.build('Google');
	handler.buildMap({ 
		provider: { 
			zoom: 12,
    	center: new google.maps.LatLng(55.745826, 37.6173)}, 
		internal: {
			id: 'map'}}, 
		function(){
			markers = handler.addMarkers(<%=raw @hash.to_json %>);
		});
</script>