<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<script>
	handler = Gmaps.build('Google');
	handler.buildMap({ 
		provider: { 
			zoom: 8,
    	center: new google.maps.LatLng(-34.397, 150.644)}, 
		internal: {
			id: 'map'}}, 
		function(){});
</script>