<div class="row" style="text-align:left;">
	<div class = "col-xs-12 ms" >
		<h1 class="home-headings">Урбан - все, что Вам нужно, чтобы найти квартиру мечты</b> </h1>
		<% if user_signed_in? %>
			<div style="text-align:center; padding: 50px;">
				<%= link_to "Найти квартиру", googlemaps_path, class: "btn btn-primary btn-lg" %>
			</div>
			<% else %>
		<p style= "text-align: center; padding:50px;">	
				<%= link_to "Зарегистрироваться", new_user_registration_path, class: "btn btn-primary btn-lg" %> 
				<%= link_to "Войти", new_user_session_path, class: "btn btn-lg" %>
		</p>
		<% end %>
	</div>
	<div class = "row home-headings" style="padding: 60px;">
		<h1>Работайте с экспертами на каждом этапе Вашего поиска</b> </h1>
	</div>
</div>